# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          mkdir html
          echo "Hello World! 001" > html/index.html
          date >> html/index.html
          
      - name: Get target folder for page deploy from github ref
        if: ( matrix.os == 'ubuntu-latest' ) &&  ( matrix.python-version == '3.8' )
        run: |
          # get rid of "refs/"
          tmp_target_dir=$(echo $github_ref | sed "s/^refs\///")
          echo $tmp_target_dir
          # get rid of "merge" at the end of ref for PRs
          if [[ $tmp_target_dir = pull/* ]]
          then
            tmp_target_dir=$(echo $tmp_target_dir | sed "s/\/merge$//")
          fi
          # when on master, we want to deploy to the 'develop' dir (-> "develop")
          target_dir=$(echo $tmp_target_dir | sed "s/heads\/main/develop/")
          echo $target_dir
          echo "target_dir=$target_dir" >> $GITHUB_ENV
        env:
          github_ref: ${{ github.ref }}
          
      - run: |
          if [ ${{ github.event_name }} = 'pull_request' ]; then
              echo "REPO=${{ github.event.pull_request.head.repo.full_name }}" >> $GITHUB_ENV
          else
              echo "REPO=$GITHUB_REPOSITORY" >> $GITHUB_ENV
          fi

      - name: Deploy to gh-pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: html # The folder the action should deploy.
          TARGET_FOLDER: ${{ env.target_dir }}
          CLEAN: true
          CLEAN_EXCLUDE: '["heads", "pull", "tags"]'
          SINGLE_COMMIT: true
          REPOSITORY_NAME: ${{ env.REPO }}
